/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    EBISPOT/gwas-sumstats-harmoniser Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

manifest {
    name            = 'EBISPOT/gwas-sumstats-harmoniser'
    defaultBranch   = 'nextflow'
    homePage        = 'https://github.com/EBISPOT/gwas-sumstats-harmoniser/'
    mainScript      = 'main.nf'
}

// Automatically clean work directory.
cleanup = true 

/*
plugins {
  id 'nf-boost'
}

boost {
  cleanup = true
}
*/

// Global default params, used in configs
params {

    // error strategy parameter
    terminate_error          = null

    // global parameter
    chromlist                = null
    chrom                    = null
    ref                      = null
    new_ref                  = null

    //reference preparation
    reference                = null
    remote_vcf_location      = null

    // External user running
    harm                     = null
    to_build                 = null
    threshold                = null
    file                     = null
    list                     = null   
    outdir                   = null
    liftover_only            = null
    cleanup_intermediate     = true
}

// Load some additional defaults
includeConfig './config/runtimes.config'
includeConfig './config/container.config'

// configure for reference creation
if (params.reference) {
    if (!params.harm) {
        if (params.chromlist){
        // if chromlist is not null, it is split by "," into a list 
        params.chrom = params.chromlist?.tokenize(',') as List
        }
    }
}

// configure for harmonisation
if (params.harm) {
    if (!params.reference) {
        includeConfig './config/default_params.config'
        includeConfig './config/runtimes.config'
        if (params.chromlist){
            params.chrom = params.chromlist?.tokenize(',') as List
        }
    }
}

profiles {
    standard {
        process.executor = 'local'
        process.debug = false
    }
    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
        process.debug = false
    }
    slurm {
        includeConfig './config/slurm.config'
        singularity.enabled    = true
        singularity.autoMounts = true
        process.debug = false
        includeConfig './config/exit_error.config'
            
    }
}
