process {
    
    cpus   = { 1    * task.attempt }
    memory = { 1.GB * task.attempt }
    time   = { 1.h  * task.attempt }

    withName:get_vcf_files {
        memory = { 10.GB * task.attempt }
        time   = { 2.h  * task.attempt }
    }

    withName:map_to_build {
        memory = { 2.GB * task.attempt }
        cpus   = { 1    }
        time   = { 2.h  * task.attempt }
    }
    withName:subsample_variants {
        memory = { 1.GB * task.attempt }
        cpus   = { 1   }
        time   = { 30.m  * task.attempt }
        debug = true
        publishDir =[ 
            path:{"${params.outdir ?: launchDir}/$GCST/0_subsample"},
            mode: 'copy',
            overwrite: true,
            mkdirs: true
            ]
    }

    withName:ten_percent_counts {
        memory = { 1.GB * task.attempt }
        cpus   = { 1    * task.attempt }
        time   = { 10.m  * task.attempt }    
        publishDir =[ 
            path:{"${params.outdir ?: launchDir}/$GCST/2_ten_sc"},
            mode: 'copy',
            overwrite: true,
            mkdirs: true            ]
    }

    withName:ten_percent_counts_sum {
        memory = { 1.GB * task.attempt }
        time   = { 10.m  * task.attempt }
        publishDir =[ 
            path:{"${params.outdir ?: launchDir}/$GCST"},
            mode: 'copy',
            overwrite: true,
            mkdirs: true            
            ]
    }
    
    withName:generate_strand_counts {
        memory = { 2.GB * task.attempt }
        time   = { 15.m  * task.attempt }
        publishDir =[ 
            path:{"${params.outdir ?: launchDir}/$GCST/3_all_sc"},
            mode: 'copy',
            overwrite: true,
            mkdirs: true
            ]
    }

     withName:summarise_strand_counts {
        memory = { 1.GB * task.attempt }
        time   = { 10.m  * task.attempt }
        publishDir =[ 
            path:{"${params.outdir ?: launchDir}/$GCST"},
            mode: 'copy',
            overwrite: true,
            mkdirs: true
            ]
    }
    withName:filter_significant_variants {
        memory = { 1000.MB * task.attempt }
        time   = { 10.m  * task.attempt }
    }


    withName:harmonization {
        memory = { 1.GB * task.attempt }
        time   = { 15.m  * task.attempt }
        publishDir =[ 
            path:{"${params.outdir ?: launchDir}/$GCST/4_harmonization"},
             mode: 'copy',
            overwrite: true,
            mkdirs: true
            ]
    }
    

    withName:concatenate_chr_splits {
        memory = { 1.GB * task.attempt }
        time   = { 10.m  * task.attempt }
        publishDir = [
            path:{ "${params.outdir ?: launchDir}/$GCST/3_concated_result"},
            mode: 'copy',
            overwrite: true,
            mkdirs: true
        ]
    }

    withName:qc {
        memory = { 1.GB * task.attempt }
        time   = { 10.m  * task.attempt }
    }

     withName:harmonization_log {
        memory = { 1.GB * task.attempt }
        time   = { 10.m  * task.attempt }
    }

    withName:update_meta_yaml {
        memory = { 1.GB * task.attempt }
        time   = { 10.m  * task.attempt }
        publishDir =[
            path:{"${params.outdir ?: launchDir}/$GCST/final"},
            mode: 'copy',
            overwrite: true,
            mkdirs: true
            ]
    }
}
