process {
    
    cpus   = { 1    * task.attempt }
    memory = { 1.GB * task.attempt }
    time   = { 1.h  * task.attempt }

    withName:get_vcf_files {
        memory = { 10.GB * task.attempt }
        time   = { 2.h  * task.attempt }
    }

    withName:map_to_build {
        memory = { 5.GB * task.attempt }
        time   = { 2.h  * task.attempt }
        publishDir =[ 
            path:{"${launchDir}/$GCST/1_map_to_build"},
            mode: 'copy'
            ]
    }

    withName:ten_percent_counts {
        memory = { 3.GB * task.attempt }
        time   = { 1.h  * task.attempt }
        publishDir =[ 
            path:{"${launchDir}/$GCST/2_ten_sc"},
            mode: 'copy'
            ]
    }

    withName:ten_percent_counts_sum {
        memory = { 3.GB * task.attempt }
        time   = { 1.h  * task.attempt }
        publishDir =[ 
            path:{"${launchDir}/$GCST"},
            mode: 'copy'
            ]
    }

    withName:generate_strand_counts {
        memory = { 4.GB * task.attempt }
        time   = { 3.h  * task.attempt }
        publishDir =[ 
            path:{"${launchDir}/$GCST/3_all_sc"},
            mode: 'copy'
            ]
    }

     withName:summarise_strand_counts {
        memory = { 3.GB * task.attempt }
        time   = { 1.h  * task.attempt }
        publishDir =[ 
            path:{"${launchDir}/$GCST"},
            mode: 'copy'
            ]
    }

    withName:harmonization {
        memory = { 6.GB * task.attempt }
        time   = { 3.h  * task.attempt }
        publishDir =[ 
            path:{"${launchDir}/$GCST/4_harmonization"},
            mode: 'copy'
            ]
    }

    withName:concatenate_chr_splits {
        publishDir =[
            path:{"${launchDir}/$GCST/5_qc"},
            mode: 'copy'
            ]
    }

    withName:qc {
        memory = { 5.GB * task.attempt }
        time   = { 5.h  * task.attempt }
        publishDir =[ 
            path:{"${launchDir}/$GCST/5_qc"},
            mode: 'copy'
            ]
    }

     withName:harmonization_log {
        memory = { 5.GB * task.attempt }
        time   = { 3.h  * task.attempt }
    }

    withName:update_meta_yaml {
        memory = { 5.GB * task.attempt }
        time   = { 3.h  * task.attempt }
        publishDir =[
            path:{"${launchDir}/$GCST/final"},
            mode: 'copy'
            ]
    }
}
