process {
    
    cpus   = { 1    * task.attempt }
    memory = { 1.GB * task.attempt }
    time   = { 1.h  * task.attempt }

    withName:get_vcf_files {
        memory = { 10.GB * task.attempt }
        time   = { 2.h  * task.attempt }
    }

    withName:map_to_build {
        memory = { 2.GB * task.attempt }
        cpus   = { 1    }
        time   = { 1.h  * task.attempt }
    }
    withName:subsample_variants {
        memory = { 1.GB * task.attempt }
        cpus   = { 1   }
        time   = { 30.m  * task.attempt }
    }

    withName:ten_percent_counts {
        memory = { 1.GB * task.attempt }
        cpus   = { 1    * task.attempt }
        time   = { 30.m  * task.attempt }
    }

    withName:ten_percent_counts_sum {
        memory = { 1.GB * task.attempt }
        time   = { 30.m  * task.attempt }
        cpus   = { 1    * task.attempt }
    }
    
    withName:generate_strand_counts {
        memory = { 2.GB * task.attempt }
        time   = { 15.m  * task.attempt }
        cpus   = { 1    * task.attempt }
    }

     withName:summarise_strand_counts {
        memory = { 1.GB * task.attempt }
        time   = { 30.m  * task.attempt }
        cpus   = { 1    * task.attempt }
    }
    withName:filter_significant_variants {
        memory = { 1000.MB * task.attempt }
        time   = { 30.m  * task.attempt }
        cpus   = { 1    * task.attempt }
    }


    withName:harmonization {
        memory = { 1.GB * task.attempt }
        time   = { 15.m  * task.attempt }
        cpus   = { 1    * task.attempt }
    }
    

    withName:concatenate_chr_splits {
        memory = { 1.GB * task.attempt }
        time   = { 30.m  * task.attempt }
        cpus   = { 1    * task.attempt }
    }

    withName:qc {
        memory = { 1.GB * task.attempt }
        time   = { 30.m  * task.attempt }
    }

     withName:harmonization_log {
        memory = { 1.GB * task.attempt }
        time   = { 30.m  * task.attempt }
    }

    withName:update_meta_yaml {
        memory = { 1.GB * task.attempt }
        time   = { 30.m  * task.attempt }
        publishDir =[
            path:{"${params.outdir ?: launchDir}/$GCST"},
            mode: 'copy',
            overwrite: true,
            mkdirs: true
            ]
    }
}
